# Build directories
/build/
/debug/
/release/

# IDE specific
.vscode/
.idea/
*.user
*.autosave
.cache/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Qt specific
moc_*.cpp
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps